.ranking {
  align-items: center;
  color: orange;
  display: flex;
  flex-direction: column;
}

.ranking-title {
  color: orange;
  font-size: 40px;
}

.ranking-list {
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  width: 500px;
}

.ranking-score {
  color: orange;
}

.alt-name {
  color: orange;
}

.playagain-button {
  margin-bottom: 200px;
}
