.ranking {
  color: orange;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-title {
  font-size: 40px;
  color: orange;;
}
.ranking-list {
  /* background-color: red; */
  /* border: 1px solid red; */
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-radius: 5px;
}

.ranking-score {
  color: orange;
}

.alt-name {
  color: orange;;
}

.playagain-button {
  margin-bottom: 200px;
}